@tailwind base;
@tailwind components;
@tailwind utilities;

/* duration-200 transition-colors ease-in-out */
#nprogress .bar {
  @apply !bg-primary-500;
}

/* react select override */
@layer components {
    .my-react-select-container .my-react-select__control {
        @apply bg-white dark:bg-dark-450 hover:!border-primary-500 border border-gray-300 dark:border-dark-400 duration-200 transition-colors ease-in-out;
    }

    .my-react-select-container .my-react-select__control input, .my-react-select-container .my-react-select__control .my-react-select__placeholder  {
        @apply !text-black dark:!text-white;
    }

    .my-react-select-container .my-react-select__control {
        @apply bg-white dark:bg-dark-450;
    }
    .my-react-select-container .my-react-select__control .my-react-select__single-value {
        @apply text-black dark:text-white;
    }
}

.background--custom {
  background: linear-gradient(90deg, #c88cfb, #ae99f4, #eab3f8);
  background-size: 1000% 1000%;
  animation: gradient 10s alternate infinite;
  height: 100%;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}